.s-main {
  width: 100%;
  background-color: $purple;
  margin-top: 11.9rem;
  padding-top: 3.9rem;
  .container {
    display: flex;
    justify-content: space-between;
    .info-left {
      width: 100%;
      max-width: 50rem;

      .text {
        h1 {
          color: $white;
          font-size: 4.8rem;
          font-weight: 700;
          font-family: "PT Sans", sans-serif;
          margin-bottom: 1.6rem;
          line-height: 120%;
        }

        p {
          color: $white;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 27px;
          margin-bottom: 3.2rem;
          line-height: 150%;
        }
      }

      .actions {
        .btn-teste {
          @include style-btn(5.4rem, $yellow, $purple);
          margin-bottom: 8.4rem;
        }

        .btn-down {
          width: 100%;
          max-width: 20.5rem;
          @include flex-element(row, space-between, center);

          button {
            width: 4.2rem;
            height: 4.2rem;
            background-color: $purple-02;
            border-radius: 0.4rem;
            @include flex-element(row, center, center);
          }

          span {
            color: $white;
            font-weight: 700;
          }
        }
      }
    }

    .image-right {
      position: relative;
      top: 3.4rem;
    }
  }

  @include responsive(991px) {
    .container {
      @include flex-element(column, center, center);
      .info-left {
        max-width: 100%;
        margin-bottom: 3rem;
        .text {
          h1 {
            text-align: center;
          }
          p {
            max-width: 100%;
            text-align: center;
          }
        }
        .actions {
          .btn-teste {
            display: block;
            margin: 0 auto;
            margin-bottom: 4rem;
          }
          .btn-down {
            max-width: 100%;
            justify-content: center;
            gap: 2rem;
          }
        }
      }
    }
  }

  @include responsive(600px) {
    padding-top: 2.5rem;
    margin-top: 8rem;
    .container {
      .info-left {
        .text {
          h1 {
            font-size: 4.3rem;
          }
        }
      }
      .image-right {
        left: -0.9rem;
      }
    }
  }
}

.s-ferramentas {
  padding-top: 14.9rem;
  padding-bottom: 9.9rem;

  .container {
    .text {
      margin-bottom: 5.3rem;
      @include flex-element(row, space-between, center);

      h2 {
        width: 100%;
        max-width: 50.2rem;
        font-family: "PT Sans";
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 130%;
        color: $gray-01;
      }
      p {
        color: $gray-02;
        line-height: 150%;
      }
    }

    .all-cards {
      @include flex-element(row, space-between, center);

      .list-cards {
        width: 100%;
        max-width: 90.4rem;
        border-bottom: solid 3px rgba(95, 60, 161, 0.1);
        @include flex-element(row, space-between, center);
      }

      .card {
        width: 100%;
        max-width: 28rem;
        height: 32.3rem;
        border-radius: 1.2rem;
        padding-top: 4.1rem;
        padding-left: 4.2rem;

        &.active {
          background-color: $gray-03;
          margin-right: 3.4rem;

          .icon {
            background-color: $white;
          }

          p {
            max-width: 20.4rem;
          }
        }

        h3 {
          font-weight: 800;
          font-size: 1.8rem;
          line-height: 2.2rem;
          color: $purple;
          margin-bottom: 2rem;
        }

        .icon {
          width: 6.4rem;
          height: 6.4rem;
          background-color: $gray-03;
          border-radius: 1.2rem;
          margin-bottom: 3rem;
          @include flex-element(row, center, center);
        }

        p {
          max-width: 23.9rem;
          font-weight: 400;
          line-height: 165%;
          color: $gray-02;
        }
      }
    }
  }
  @include responsive(991px) {
    .container {
      .all-cards {
        @include flex-element(column, center, center);
        .list-cards {
          max-width: 100%;
          gap: 2.5rem;
        }
        .card {
          max-width: 100%;
          @include flex-element(column, center, center);
          padding-top: 0;
          padding-left: 0;
          p {
            max-width: 100%;
            text-align: center;
          }
          &.active {
            margin-right: 0;
            p {
              max-width: 100%;
            }
          }
        }
        .list-cards {
          max-width: 100%;
        }
      }
    }
  }
  @include responsive(600px) {
    padding-top: 12rem;
    .container {
      padding: 0;
      .text {
        @include flex-element(column, center, center);
        margin-bottom: 10rem;
        h2 {
          text-align: center;
        }
        p {
          margin-top: 1.8rem;
        }
      }
      .all-cards {
        @include flex-element(column, center, center);
        .card {
          max-width: 100%;
          &.active {
            margin-right: 0;
          }
        }
      }
    }
  }
  @include responsive(480px) {
    .container {
      padding: 0;
      .text {
        @include flex-element(column, center, center);
        h2 {
          text-align: center;
        }
        p {
          margin-top: 1.8rem;
        }
      }
      .all-cards {
        @include flex-element(column, center, center);
        .card {
          max-width: 100%;
          padding: 0 3rem;
          height: 100%;
          margin-bottom: 4rem;

          &.active {
            margin-right: 0;
            height: 32.3rem;
            // margin-bottom: 2.5rem;
          }
        }
        .list-cards {
          max-width: 100%;
          @include flex-element(column, center, center);
        }
      }
    }
  }
}
